<!DOCTYPE html>
<html>
<head>

	<title>Student Poll Portal | Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/dashboardstyle.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="admin">
  <header class="admin__header">
    <a href="." class="logo" style="background: linear-gradient(251deg, #a815c6, #287ce6, #7e60e7, #05b94e);background-size: 800% 800%;-webkit-animation: bishnu 30s ease infinite;-moz-animation: bishnu 30s ease infinite;animation: bishnu 30s ease infinite;">
      <h1>Admin name</h1>
    </a>

    <div class="toolbar">

      <button class="btn btn--primary">STUDENT</button>

      <a href="logout.php" class="logout">
        Log Out
      </a>
    </div>
  </header>
  <nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item adminoption">
        <a class="menu__link" href="{% url 'events' %}" target="display">Events</a>
      </li>
      <li class="menu__item adminoption">
        <a class="menu__link" href="{% url 'committee' %}"  target="display">Committee</a>
      </li>
      <li class="menu__item adminoption">
        <a class="menu__link" href="{% url 'photographers' %}" target="display">Photographs</a>
      </li>
      <li class="menu__item adminoption">
        <a class="menu__link" href="{% url 'feed_admin' %}" target="display">Daily Feed</a>
      </li>
        <li class="menu__item adminoption">
        <a class="menu__link" href="" target="display">Social Links</a>
      </li>

    </ul>
  </nav>
  <iframe name="display" id="display">

  </iframe>

  <footer class="admin__footer">

    <span>
      &copy; Adarsh/2019
    </span>
  </footer>
</div>
</body>
</html>
