body {
 
  height: 100%;
  margin: 0;
  overflow: hidden;
 
}

html{
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

.axis {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 100;
}

.planet {
  background-size: cover;
  left: 50%;
  position: absolute;
  top: 50%;
}

#background {
    width: 25vw;
    height: auto;
    left: calc(50% - 197px);
    position: absolute;
    top: 12%;
}

#x-axis {
  bottom: -50%;
  left: 50%;
  top: -50%;
  width: 1px;
}

#y-axis {
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
}

#planet-1 {
  margin: 66px 0 0 -57px;
  /* height: 150px;
  width: 150px; */
  /* background-image: url("http://th02.deviantart.net/fs71/PRE/i/2012/337/3/6/planet_png_by_phip_phantom-d5mwylq.png"); */
  z-index: 20;
  width: 10vw;
  height: auto;
  position: absolute;
  left: 75%;
  top: 35%;
    
}

#planet-2 {
  margin: -100px 0 0 -100px;
  /* height: 200px;
  width: 200px;
  background-image: url("http://fc04.deviantart.net/fs71/i/2013/070/e/d/ice_planet___kronos_by_khrymsyn-d5xqmnm.png"); */
  z-index: 5;
  width: 14vw;
  height: auto;
  position: absolute;
  left: 10%;
  top: 70%;
}

#falcon {
    margin: -103px 0 0 -67px;
    /* height: 200px;
    width: 200px;
    background-image: url("http://fc04.deviantart.net/fs71/i/2013/070/e/d/ice_planet___kronos_by_khrymsyn-d5xqmnm.png"); */
    z-index: 5;
    width: 17vw;
    height: auto;
    position: absolute;
    left: 80%;
    top: 20%;
    filter: brightness(66);
  }
.moveFalcon{
  left:50%;
}
#superman {
  margin: -103px 0 0 0px;
  z-index: 5;
  width: 17vw;
  height: auto;
  position: absolute;
  transform: translateX(-50%);
  left: 90%;
  top: 66%;
  }
#drone {
  margin: -51px 0 0 0px;
  z-index: 5;
  width: 28vw;
  height: auto;
  position: absolute;
  left: -3%;
    top: -3%;
    filter: blur(2px);
  }
#robot {
  z-index: 5;
  width: 5vw;
  height: auto;
  position: absolute;
  left: 28%;
  top: 82%;
  }
  #transformer{
    top: 10px;
    width: 46vw;
    transform: translateX(-50%);
    z-index: -1;
    height: auto;
  }
.container{
    
  background-image: url("../Assets/Images/Background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}
#trigger{
  position: absolute;
  top: 55%;
}
